[submodule "src/object_detection"]
	path = src/object_detection
	url = git@github.com:anggamys/object_detection.git
[submodule "src/yolo_python_ros"]
	path = src/yolo_python_ros
	url = git@github.com:anggamys/yolo_python_ros.git
[submodule "src/simulation_world"]
	path = src/simulation_world
	url = git@github.com:anggamys/simulation_world.git
[submodule "src/pixhawk_controller"]
	path = src/pixhawk_controller
	url = git@github.com:anggamys/pixhawk_controller.git
[submodule "src/janus_publisher"]
	path = src/janus_publisher
	url = git@github.com:anggamys/janus_publisher.git
[submodule "src/ntrip_nmea_bridge"]
	path = src/ntrip_nmea_bridge
	url = git@github.com:anggamys/ntrip_nmea_bridge.git
[submodule "src/mqtt_publisher"]
	path = src/mqtt_publisher
	url = git@github.com:anggamys/mqtt_publisher_cpp.git
